# Installation

Make sure you have Python 3.10 installed. You can install the required libraries using:

```bash
pip install -r requirements.txt

# beautifulsoup
# python-docx
# docx2pdf
# requests
# pyOpenSSL
# whois
# os
# threading
# socket
# ssl
# urllib.parse



